<?xml version="1.0"?>

<launch>
	
    <node respawn="true" pkg="rosserial_python" type="serial_node.py" name="serialnode1" args="/dev/traction_arduino" />
    <node respawn="true" pkg="rosserial_python" type="serial_node.py" name="serialnode2" args="/dev/talon_arduino" />
    <node respawn="true" pkg="rosserial_python" type="serial_node.py" name="serialnode3" args="/dev/arm_arduino" />
    <node respawn="true" pkg="rosserial_python" type="serial_node.py" name="serialnode4" args="/dev/sensor_arduino" />
    <node respawn="true" pkg="rosserial_python" type="serial_node.py" name="serialnode5" args="/dev/ir_arduino" />
    
</launch>