<?xml version="1.0"?>

<launch>

    <node machine="c1_opt" respawn="true" pkg="joy" type="joy_node" name="joy_node">
     <param name="dev" value="/dev/input/js0" />
    </node>
    
    <node machine="c1_src" respawn="true" pkg="finder" type="control_interface.py" name="control_interface" />
    
</launch>