<?xml version="1.0"?>

<launch>

	<node pkg="hokuyo_node" type="hokuyo_node" name="laser_node_3">
	    <param name="min_ang" value="-2" />
	    <param name="max_ang" value="2" />
        <param name="port" value="/dev/hokuyo" />
	    <param name="skip" value="1" />
	    <param name="intensity" value="false" />
	    <param name="cluster" value="1" />
	</node>
	
</launch>
