<?xml version="1.0"?>

<launch>

  	<include file="$(find finder)/launch/arduinos_test.launch"/>
  	<include file="$(find finder)/launch/cam_launch_test.launch"/>
  	<include file="$(find finder)/launch/nodes_test.launch"/>
  	<include file="$(find finder)/launch/control_test.launch"/>

  	<node respawn="true" pkg="finder" type="alive.py" name="alive_node" />
 
</launch>