<?xml version="1.0"?> 

<launch>
 
  <include file="$(find finder)/launch/hokuyo_test.launch"/>
  <include file="$(find finder)/launch/mapping_default_test.launch"/> 
  <include file="$(find finder)/launch/geotiff_mapper_test.launch"/> 

  <!--<include file="$(find finder)/launch/qrcode_detection_test.launch"/>
  <include file="$(find finder)/launch/heat_detection_test.launch"/>
  <include file="$(find finder)/launch/object_tracker_test.launch"/>
  <include file="$(find finder)/launch/motion_detection_test.launch"/>-->

  <node name="laser_node_15" pkg="finder" type="tif2jpg.py" output="screen"></node>
  <!--<node name="laser_node_14" pkg="finder" type="imu_node.py" output="screen"></node>
  <node name="laser_node_16" pkg="hector_imu_attitude_to_tf" type="imu_attitude_to_tf_node" output="screen"></node>-->

</launch>
