<?xml version="1.0"?>

<launch>
 
  <include file="$(find finder)/launch/hokuyo_test.launch"/>
  <include file="$(find finder)/launch/mapping_default_test.launch"/> 
  <include file="$(find finder)/launch/geotiff_mapper_test.launch"/> 

<!--
  <include file="$(find finder)/launch/qrcode_detection_test.launch"/>
  <include file="$(find finder)/launch/object_tracker_test.launch"/>
-->

</launch>
