<?xml version="1.0"?>

<launch>

  <node pkg="volti" type="imu_node" name="imu_plate" respawn="true">
    <param name="rate" value="20" />
    <param name="topic" value="imu_plate_3" />
    <param name="i2c" value="1" />
  </node>

  <node pkg="volti" type="imu_node" name="imu_pendu" respawn="true">
    <param name="rate" value="20" />
    <param name="topic" value="imu_pendu_3" />
    <param name="i2c" value="2" />
  </node>

  <node pkg="volti" type="double_motor_adjust.py" name="double_motor_adjust" respawn="true">
  </node>

  <node pkg="volti" type="push_servos.py" name="push_servos" respawn="true">
  </node>

  <node pkg="volti" type="readencs.py" name="readencs" respawn="true">
  </node>

  <!--<node pkg="volti" type="control_iface.py" name="control_iface" respawn="true">
  </node>-->

</launch>
