<?xml version="1.0"?>

<launch>

 <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.1" />
    <param name="autorepeat rate (Hz)" value="0" />
    <param name="coalesce interval (s)" value="0.1" />
    <param name="recent joystick event rate (Hz)" value="5" />
    <param name="recent publication rate (Hz)" value="5" />
  </node>

</launch>