<?xml version="1.0"?>

<launch>

	<!-- machine tags -->
	<machine name="c1_opt" address="arm" env-loader="/opt/ros/indigo/env.sh" user="ubuntu" password="temppwd"/>
	<machine name="c1_src" address="arm" env-loader="/home/ubuntu/workspace/catkin/devel/env.sh" user="ubuntu" password="temppwd" default="true"/>

	<machine name="c2_opt" address="jakob-think" env-loader="/opt/ros/indigo/env.sh" user="jakob" password="finder" />
	<machine name="c2_src" address="jakob-think" env-loader="/home/jakob/workspace/catkin/devel/env.sh" user="finder" password="finder"  />
	 
</launch>