/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /*max-width: 1000px;*/
    width: 100%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* button margin */
/*.row .btn {
  margin: 10px;
}*/

.p-home .btn-group {
  margin: 5px;
}

.center {
  text-align: center;
}

.margin-center {
  margin: 0 auto;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.navbar .btn {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-group-title {
  cursor: default;
  width: 100px;
}

div[robot-viewer] {
  width: 200px;
  height: 200px;
}

div[robot-viewer] canvas{
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}

.camera-container-horizontal img {
  margin: 0 -2px;
  padding: 0;
  /*float: left;*/
  display: inline-block;
}


.sensor-container .ir-sensor {

}

.complete-height {
  /*height: 100%;*/
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .map-container {
    height: 300px;
    overflow: auto;

  }

  .map-container img {

  }

  .camera-container-horizontal img {
    margin: 0;
    padding: 0;
    float: left;
  }
  .camera-frame-horizontal {
    margin: 0 auto;
    width: 600px;
    overflow: auto;
  }

  .nodes-container {
    height: 300px;
  }

  .sensor-container {
    height: 300px;
  }

  .sensor-container .add-victim {
    width: 100%;
    /*height: 100%;*/
    /*text-align: center;*/
    height: 280px;
  }
}